.container {
  margin-bottom: 50px;
  text-align: center;
}
.App {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  border: 1px solid #e0e9f1;
  padding: 0;
  margin-top: 50px;
}
.Search {
  width: 400px;
  margin: 30px;
}
.Submit {
  background-color: #61dafb;
  color: whitesmoke;
  width: 80px;
  border-radius: 5px;
  border-color: #61dafb;
}
.location {
  margin: 20px;
}

.loader {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: 250px;
  margin-top: 170px;
}
.unit {
  position: relative;
  top: -25px;
  font-size: 16px;
  margin-left: 0px;
  font-weight: 200px;
  color: black;
}
h2 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #70757a;
}
.unit a {
  color: black;
}
.ForecastImg {
  width: 20px;
}
